* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	background: #ffc361;
}

a {
	color: #444;
}

h1,h2,h3 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 200;
}

h2 {
	font-size: 380%;
	border-bottom: 1px solid #fefefe;
	color: white;
}

.mast {
	text-align: center;
	margin-bottom: 4em;
}

.logo {
	max-width: 360px;
}

.podcasts {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 1em 0;
}

.podcast {
	margin-top: 1.5em;
}

.podcasts > footer {
	text-align: center;
	font-size: 150%;
	color: #444;
	margin: 2em 0 1em 0;
}

.footer {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 4em;
	color: #444;
	letter-spacing: 1px;
	border-top: 1px solid white;
}

.social {
	margin-top: 0.5em;
}
